.matrix {
    --surface1-color: oklch(0% 0.29 142.27);
    --surface2-color: oklch(20% 0.29 142.27);
    --surface3-color: oklch(30% 0.29 142.27);
    --main-color: oklch(86.73% 0.29 142.27);
    --caret-color: oklch(86.73% 0.9 142.27);
    --sub-color: oklch(60% 0.3 142.5);
    --sub-alt-color: oklch(2.1% 0.64 130);
    --text-color: oklch(92.3% 0.33 136);
    --text2-color: oklch(72.3% 0.33 136);
    --error-color: oklch(54% 0.35 0);
    --error-extra-color: oklch(34% 0.35 0);

    #test-config-bar {
        border-width: var(--border-2);
        border-color: var(--sub-color);
    }
}
