.correct {
    color: blue;
}

.incorrect {
    color: red;
}

.extra {
    color: rgb(139, 0, 0);
}

.link {
    @apply underline decoration-2;
}

.link:hover {
    @apply text-text;
}

.content-grid {
    --padding-inline: 2rem;
    --content-max-width: 1280px;
    grid-template-columns:
        [full-width-start]
        minmax(0, var(--padding-inline)) [full-width-padding-start]
        minmax(0, 1fr) [content-start]
        min(100% - var(--padding-inline) * 2, var(--content-max-width))
        [content-end] minmax(0, 1fr) [full-width-padding-end]
        minmax(0, var(--padding-inline)) [full-width-end];
}
