.catppuccin {
    --bg-color: 24.29% 0.0304 283.91;
    --caret-color: 87.97% 0.0418 17.98;
    --main-color: 78.71% 0.1187 304.77;
    --sub-color: 65.76% 0.0367 276;
    --sub-alt-color: 26.55% 0.0254 284.06;
    --text-color: 87.87% 0.0426 272.28;
    --error-color: 75.56% 0.1297 2.76;
    --error-extra-color: 78.21% 0.0903 8.85;
}
