.dracula {
    --bg-color: 28.82% 0.0221 277.51;
    --main-color: 74.2% 0.1485 301.88;
    --caret-color: 74.2% 0.1485 301.88;
    --sub-color: 55.98% 0.0803 270.09;
    --sub-alt-color: 25.44% 0.0191 276.1;
    --text-color: 97.75% 0.0079 106.55;
    --error-color: 68.22% 0.2063 24.43;
    --error-extra-color: 95.53% 0.1342 112.76;
}
