.matrix {
    --bg-color: 0% 0 0;
    --main-color: 86.73% 0.29 142.27;
    --caret-color: 86.73% 0.9 142.27;
    --sub-color: 43.91% 0.1493 142.5;
    --sub-alt-color: 2.1% 0.64 130;
    --text-color: 92.3% 0.33 136;
    --error-color: 73.8% 0.52 0;
    --error-extra-color: 44.7% 0.45 0;
}
