.monokai {
    --bg-color: 39 40 34;
    --main-color: 166 226 46;
    --caret-color: 102 217 239;
    --sub-color: 230 219 116;
    --sub-alt-color: 31 32 27;
    --text-color: 226 226 220;
    --error-color: 249 38 114;
    --error-extra-color: 253 151 31;
    --colorful-error-color: 249 38 114;
    --colorful-error-extra-color: 253 151 31;
}
