.nord-light {
    --bg-color: 100% 0.01 260.73;
    --caret-color: 76.29% 0.0477 194.49;
    --main-color: 66% 0.0477 194.49;
    --sub-color: 36.81% 0.0432 264.14;
    --sub-alt-color: 90% 0.0264 262.75;
    --text-color: 76.29% 0.0477 194.49;
    --error-color: 60.61% 0.1206 15.34;
    --error-extra-color: 43.97% 0.0821 14.6;
    --colorful-error-color: 60.61% 0.1206 15.34;
    --colorful-error-extra-color: 43.97% 0.0821 14.6;
}
