.nord-light {
    --surface1-color: oklch(100% 0.01 260.73);
    --surface2-color: oklch(96% 0.01 260.73);
    --surface3-color: oklch(80% 0.01 260.73);
    --caret-color: oklch(65% 0.0477 194.49);
    --main-color: oklch(55% 0.08 194.49);
    --sub-color: oklch(36.81% 0.0432 264.14);
    --sub-alt-color: oklch(97% 0.0264 262.75);
    --text-color: oklch(52% 0.0477 194.49);
    --text2-color: oklch(45% 0.0477 194.49);
    --error-color: oklch(60.61% 0.1206 15.34);
    --error-extra-color: oklch(43.97% 0.0821 14.6);

    #test-config-bar {
        background-color: transparent;
    }

    #logo {
        --main-color: oklch(65% 0.08 194.49);
    }
}
